// INPUT
params.FASTQ_input = 'intermediate/FASTQ'
/*
the pipeline takes as input a file.txt with a SRA accession number of each line 
or a directory that contains the SRR.fastq.gz files previously donwloaded
In the latter scenario and if the library preparation is paired end, the corresponding 
fastq files must be formatted as ID_1.fastq.gz and ID_2.fastq.gz for read1 and read2 respectivelly 
*/

// WORKFLOW PARAMETERS
params.library_preparation = 'paired' //'paired' or 'single' 
params.remove_duplicates = true // true or false | if true Remove_duplicated_reads is execute
params.aligner = 'bowtie2' // 'bowtie2' or 'bwa' | the aligner

//REFERENCE FILES
params.fasta = 'reference/HIV_1.fasta'

//OUTPUT DIRECTORIES
params.FASTQdir = 'intermediate/FASTQ'
params.BAMdir = 'intermediate/BAM'
params.COVERAGEdir = 'intermediate/COVERAGE'
params.VCFdir = 'intermediate/VCF'
params.SNVlistdir = 'example'
params.fastqScreenDir = 'intermediate/FASTQ/FASTQSCREEN/result'

//process {
//  withName: 'Trimming_single' {cpus = 4}
//  withName: 'Trimming_paired' {cpus = 4}
//  withName: 'Alignment_and_sorting_single' {cpus = 8}
//  withName: 'Alignment_and_sorting_paired' {cpus = 8}
//}