// INPUT
params.FASTQ_input = 'example/SRAlist_paired_HIV.txt'

// PARAMS FOR SHIVER ALIGNER
params.shiver_align = "bowtie2" // must be bowtie2, smalt or bwa

//REFERENCE FILES
params.fasta = 'reference/HIV_1.fasta'

// setting profiles
profiles {
    local {
        params.download = 'local'

        process {
            withName: Contigs {
                publishDir = 'intermediate/CONTIGS'
                mode = 'copy'
                saveAs = {return "${SRR}_contigs.fasta"}
                overwrite = true
                cpus = 4
            }

            withName: Generate_Ref_files { 
                storeDir = 'FastQ-Screen/index/hiv'
            }

            withName: FASTQs_download {
                storeDir = 'intermediate/FASTQ'
            }

            withName: FAST_qc {
                storeDir = 'intermediate/FASTQC'
            }

            withName: Trimming {
                storeDir = 'intermediate/TRIMMING'
            }
            
            withName: Map_Reads {
                storeDir = 'intermediate/SHIVER/BAM'
            }

            withName: Alignment_and_sorting {
                storeDir = 'intermediate/BAM'
            }

            withName: Make_SNV_list {
                publishDir = 'example/'
                mode = 'move'
            }

            withName: Variant_calling {
                storeDir = 'intermediate/VCF'
            }

            withName: Extract_coverage {
                storeDir = 'intermediate/COVERAGE'
            }
        }
    }
    docker{
        docker.enabled = true

        params.download = 'docker'
        
        process {
            withName: Generate_Ref_files {
                container = 'preprocessing'
                storeDir = 'FastQ-Screen/index/hiv'
            }

            withName: Is_Paired {
                container = 'preprocessing'
            }

            withName: FASTQs_download {
                container = 'sra_downloads' 
                containerOptions = '--entrypoint /bin/sh'
                storeDir = 'intermediate/FASTQ'
            }

            withName: FAST_qc {
                container = 'preprocessing'
                storeDir = 'intermediate/FASTQC'
            }

            withName: Trimming {
                container = 'preprocessing'
                storeDir = 'intermediate/TRIMMING'
            }

            withName: Repair {
                container = 'preprocessing'
            }

            withName: Contigs {
                container = 'preprocessing'
                publishDir = 'intermediate/CONTIGS'
                mode = 'copy'
                saveAs = {return "${SRR}_contigs.fasta"}
                overwrite = true
                cpus = 4
            }

            withName: Align_Contigs {
                container = 'preprocessing'
            }

            withName: Map_Reads {
                container = 'preprocessing'
                storeDir = 'intermediate/SHIVER/BAM'
            }

            withName: Fastq_screen {
                container = 'preprocessing'
            }

            withName: Alignment_and_sorting {
                container = 'preprocessing'
                storeDir = 'intermediate/BAM'
            }

            withName: Insert_slash {
                container = 'preprocessing'
            }

            withName: Make_SNV_list {
                container = 'preprocessing'
                publishDir = 'example/'
                mode = 'move'
            }

            withName: Variant_calling {
                container = 'preprocessing'
                storeDir = 'intermediate/VCF'
            }

            withName: Extract_coverage {
                container = 'preprocessing'
                storeDir = 'intermediate/COVERAGE'
            }
        }
    }
}

manifest {
    homePage = 'https://github.com/BarbaLuke/Tesi'
    description = 'Pipeline to use Shiver fo HIV data'
    mainScript = 'preprocess.nf'
    version = '0.1'
}