// INPUT
params.FASTQ_input = 'SRA_list.txt'

// REFERENCE FILES
params.fasta = 'reference/reference.fasta'

// HUMAN GENOME
params.human = 'https://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/annotation/GRCh38_latest/refseq_identifiers/GRCh38_latest_genomic.fna.gz'

// DECONTAMINATE ?
params.decontaminate = true

// DEDUPLICATE ?
params.deduplicate = true

// PARAMETERS SETTING
// params.mode = 'shiver' // 'shiver' | 'classic'
// params.aligner = 'bowtie2' // 'bowtie2' | 'bwa' | 'smalt'

// SETTING PROFILES
profiles {
    local {
        params.shiver = 'local'
        params.download = 'local'

        process {
            withName: Contigs {
                publishDir = 'saving/CONTIGS'
                mode = 'copy'
                saveAs = {return "${SRR}_contigs.fasta"}
                overwrite = true
                cpus = 8
            }

            withName: Generate_Ref_files { 
                storeDir = 'reference'
            }

            withName: FASTQs_download {
                storeDir = 'saving/FASTQ'
            }

            withName: Trimming {
                storeDir = 'saving/TRIMMING'
            }

            withName: Decontaminate_from_Human{
                storeDir = 'saving/DECONTAMINATE'
            }
            
            withName: Map_Reads {
                storeDir = 'saving/SHIVER'
            }

            withName: Alignment_and_sorting {
                storeDir = 'saving/BAM'
            }

            withName: Make_SNV_list {
                storeDir = 'saving/SNV_LIST'
            }

            withName: Make_SNV_list_SHIVER {
                storeDir = 'saving/SNV_LIST'
                cpus = 8
            }

            withName: Variant_calling {
                storeDir = 'saving/VCF'
            }

            withName: Extract_coverage {
                storeDir = 'saving/COVERAGE'
            }
        }
    }
    docker{
        docker.enabled = true
        params.shiver = 'docker'

        params.download = 'docker'
        
        process {
            withName: Generate_Ref_files {
                container = 'preprocessing'
                storeDir = 'reference'
            }

            withName: Download_Human_Genome { 
                container = 'preprocessing'
            }

            withName: FASTQs_download {
                container = 'ncbi/sra-tools' 
                containerOptions = '--entrypoint /bin/sh'
                storeDir = 'saving/FASTQ'
            }

            withName: Trimming {
                container = 'preprocessing'
                storeDir = 'saving/TRIMMING'
            }

            withName: Decontaminate_from_Human{
                container = 'preprocessing'
                storeDir = 'saving/DECONTAMINATE'
            }

            withName: Contigs {
                container = 'preprocessing'
                publishDir = 'saving/CONTIGS'
                mode = 'copy'
                saveAs = {return "${SRR}_contigs.fasta"}
                overwrite = true
                cpus = 8
            }

            withName: Align_Contigs {
                container = 'preprocessing'
            }

            withName: Map_Reads {
                container = 'preprocessing'
                storeDir = 'saving/SHIVER'
            }

            withName: Alignment_and_sorting {
                container = 'preprocessing'
                storeDir = 'saving/BAM'
            }

            withName: Insert_slash {
                container = 'preprocessing'
            }

            withName: Make_SNV_list {
                container = 'preprocessing'
                storeDir = 'saving/SNV_LIST'
            }

            withName: Make_SNV_list_SHIVER {
                container = 'preprocessing'
                storeDir = 'saving/SNV_LIST'
            }

            withName: Variant_calling {
                container = 'preprocessing'
                storeDir = 'saving/VCF'
            }

            withName: Extract_coverage {
                container = 'preprocessing'
                storeDir = 'saving/COVERAGE'
            }
        }
    }
}

manifest {
    homePage = 'https://github.com/BarbaLuke/Tesi'
    description = 'Pipeline to use Shiver on HIV data'
    mainScript = 'preprocess.nf'
    version = '0.0.1'
}