// INPUT
params.FASTQ_input = 'intermediate/FASTQ'
/*
the pipeline takes as input a file.txt with a SRA accession number of each line 
or a directory that contains the SRR.fastq.gz files previously donwloaded
In the latter scenario and if the library preparation is paired end, the corresponding 
fastq files must be formatted as ID_1.fastq.gz and ID_2.fastq.gz for read1 and read2 respectivelly 
*/

// WORKFLOW PARAMETERS
params.library_preparation = 'paired' //'paired' or 'single' | it involves the following process: FASTQs_download, Trimming and Alignment_and_sorting 
params.remove_duplicates = true // true or false | if true Remove_duplicated_reads is execute

//REFERENCE FILES
params.fasta = 'reference/Reference_HIV_1(HXB2).fasta'

//TOOLS SETTINGS
params.trimmomatic_setting = 'LEADING:25 TRAILING:25 SLIDINGWINDOW:1:25 MINLEN:75'
params.varscan = '--min-coverage 100 --min-var-freq 0.05 --p-value 0.01'
params.SNV_filters = 'PV_THR:0.01 VAR_FREQ_THR:0.05 MIN_COV:100 ALT_READ_THR:5'

//OUTPUT DIRECTORIES
params.FASTQdir = 'intermediate/FASTQ'
params.BAMdir = 'intermediate/BAM'
params.COVERAGEdir = 'intermediate/COVERAGE'
params.VCFdir = 'intermediate/VCF'
params.SNVlistdir = 'example'
params.fastqScreenDir = 'intermediate/FASTQ/FASTQSCREEN/result'
params.fastqScreenDir_1 = 'intermediate/FASTQ/FASTQSCREEN/result'

//process {
//  withName: 'Trimming_single' {cpus = 4}
//  withName: 'Trimming_paired' {cpus = 4}
//  withName: 'Alignment_and_sorting_single' {cpus = 8}
//  withName: 'Alignment_and_sorting_paired' {cpus = 8}
//}

params.aligner = 'bowtie2'
params.download = false